* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  color: #396a93;
  text-decoration: none;
}
body {
  background: steelblue;
  color: white;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 20px;
}

div {
  padding: 0.5%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input[type='text'] input[type='password'] {
  min-width: 250px;
}
#todos-input {
  width: 200px;
}

#todos-list {
  max-width: 500px;
}

#todos-form {
  display: flex;
  flex-direction: column;
}

.layout {
  z-index: -1;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 5px;
}

.main {
  min-height: 420px;
  padding: 0.5%;
  background-color: #d0d0d0;
  color: black;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  border-style: solid;
  border-width: 5px;
  border-color: #ff5700;
}

.main > div {
  margin: 0.5%;
}

.content {
  display: flex;
  flex-direction: row;
  color: #264662;
  background-color: white;
  flex: 1;
  padding-left: 5%;
  justify-content: space-between;
}

.sidebar {
  background-color: #e8e8e8;
  line-height: 1.6;
  flex: 0 0 12em;
  order: -1;
  display: flex;
  flex-direction: column;
}

.submit-btn {
  width: 70px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--submit-btn-border-color);
}

.advertisement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e8e8e8;
  flex: 0 0 12em;
  flex-direction: column;
  order: 1;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  height: 100%;
  width: 100%;
  text-align: center;
}

input {
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff5700;
}

.submit-button {
  width: 70px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff5700;
}

.error-container {
  height: 100%;
  width: 100%;
  padding: 20%;
  text-align: center;
}
.todos-wrapper {
  min-width: 390px;
  max-width: 470px;
  text-align: center;
}

.todo-unit {
  display: flex;
  justify-content: right;
}

.todo-text {
  width: 100%;
  text-align: left;
}

.modal {
  color: black;
  padding: 12px;
  background: white;
  border: thick red solid;
  min-height: 200px;
  min-width: 420px;
  height: 25%;
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.click-catcher,
.click-catcher--open {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.click-catcher--open {
  display: flex;
}

footer {
  padding: 1%;
  height: 4%;
}

@media screen and (max-width: 1284px) {
  form {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 890px) {
  .main {
    flex-direction: column;
  }
  .sidebar {
    flex-direction: row;
    flex: 0 0 2em;
  }
  .sidebar > a {
    margin-left: 10px;
    height: 15px;
  }
  .advertisement {
    flex-direction: row;
  }
}
