.app-title
    color: white

.logout-btn
    display: block
    color: white
    font-family: inherit
    font-size: 2.5em
    background: inherit
    border-style: none
    font-weight: bold
    transform: rotate(270deg)
    position: absolute
    left: -45px
    top: 250px
    &:hover
        cursor: pointer
