* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  color: #396a93;
  text-decoration: none;
}
body {
  height: 100%;
  background: steelblue;
  color: white;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 20px;
}

div {
  padding: 1%;
}

#app {
  height: 100%;
}
.layout {
  z-index: -1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 5px;
}

.main {
  padding: 0.5%;
  background-color: #d0d0d0;
  color: black;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  border-style: solid;
  border-width: 5px;
  border-color: #ff5700;
}

.main > div {
  margin: 0.5%;
}

.content {
  color: #264662;
  background-color: white;
  flex: 1;
  padding-left: 5%;
  display: flex;
  align-items: flex-start;
}

.sidebar {
  background-color: #e8e8e8;
  line-height: 1.6;
  flex: 0 0 12em;
  order: -1;
  display: flex;
  flex-direction: column;
}

.submit-btn {
  width: 70px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--submit-btn-border-color);
}

.advertisement {
  background-color: #e8e8e8;
  flex: 0 0 12em;
  order: 1;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  height: 100%;
  width: 100%;
  text-align: center;
}

input {
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff5700;
}

.submit-button {
  width: 70px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff5700;
}

.error-container {
  height: 100%;
  width: 100%;
  padding: 20%;
  text-align: center;
}
.todos-wrapper {
  width: 100%;
  text-align: center;
}
footer {
  padding: 1%;
  height: 5%;
}
