:root {
  --body-bg-color: steelblue;
  --body-color: white;
  --main-bg-color: #d0d0d0;
  --main-color: black;
  --main-border-color: #ff5700;
  --content-bg-color: white;
  --content-color: #264662;
  --sidebar-bg-color: #e8e8e8;
  --advertisement-bg-color: #e8e8e8;
  --input-border-color: #ff5700;
  --submit-btn-border-color: #ff5700;
  --a-color: #396a93;

  --sidebar-lineheight: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  color: var(--a-color);
  text-decoration: none;
}
body {
  height: 100%;
  background: var(--body-bg-color);
  color: var(--body-color);
  text-decoration: none;
}

header {
  text-align: center;
  padding: 20px;
}

div {
  padding: 1%;
}

#app {
  height: 100%;
}

.layout {
  z-index: -1;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 5px;
}

.main {
  padding: 0.5%;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border-style: solid;
  border-width: 5px;
  border-color: var(--main-border-color);
  height: 100%;
}

.content {
  margin-left: 13em;
  margin-right: 13em;
  height: 100%;
  color: var(--content-color);
  background-color: var(--content-bg-color);
  padding-left: 5%;
  display: flex;
  align-items: flex-start;
}

.sidebar {
  float: left;
  width: 12em;
  height: 100%;
  background-color: var(--sidebar-bg-color);
  line-height: var(--sidebar-lineheight);
  display: flex;
  flex-direction: column;
}

.advertisement {
  float: right;
  width: 12em;
  height: 100%;
  background-color: var(--advertisement-bg-color);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  height: 100%;
  width: 100%;
  text-align: center;
}

input {
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--input-border-color);
}
.submit-btn {
  width: 70px;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--submit-btn-border-color);
}

.error-container {
  height: 100%;
  width: 100%;
  padding: 20%;
  text-align: center;
}

.todos-wrapper {
  width: 100%;
  text-align: center;
}

footer {
  clear: both;
  padding: 1%;
  height: 5%;
}
