<h1 *ngIf="whichForm === 'signup'" data-test-id="signup-statement">{{signupStatement}}</h1>
<h1 *ngIf="whichForm === 'login'" data-test-id="login-statement">{{loginStatement}}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class='user-form' data-test-id="user-form">
    
    <label>User Name:
        <input type="text" formControlName="userName" data-test-id="username-input"/>
    </label>

    <label>Password:
        <input type="password" formControlName="password" data-test-id="password-input"/>
    </label>

    <button type="submit" data-test-id="user-submit-button">
        {{this.getBtnText()}}
    </button>

</form>

<button data-test-id="toggle-user-form-btn" (click)="toggleForm()">
    Toggle Form
</button>